* {
  color: rgb(255, 255, 255);
}

/* NUESTROS VALORES SECCION  */
.bg-c {
  background-color: rgba(26, 32, 44, 1);
}

/*  -----------------  */

/* PROFILE SECCION */

.profile {
  border: none;
}

/*  ----------------  */
