.cont-text-area label{
  display: block;
  border-bottom: 2px solid rgb(200, 200, 200);
  padding: 8px 10px;
  position: relative;
  box-sizing: border-box;
  margin-top: 1.2em;
}
.cont-text-area label:hover{
  border-bottom: 2px solid red;
  transition: 0.5s;
}
.cont-text-area label.focus{
  border-bottom: 2px solid red;
}
.cont-text-area label span{
  color: rgb(200, 200, 200);
  position: absolute;
  top: 8px;
  left: 10px;
  transition: .25s;
  margin-left: 5px;
}
.cont-text-area span.focus{
  color: red;
}
.cont-text-area span.top{
  left: 0;
  top: -12px;
  font-size: 12px;
  padding: 0 5px;
  background-color: white;
}
.cont-text-area label textarea{
  color: black;
  display: block;
  width: 100%;
  border: none;
  outline: none;
}